<h2 class="site-heading-upper text-primary">Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
          <%= f.label :email, class: "text-primary"  %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                </div>

                  <div class="form-group">
                        <%= f.label :First_name, class: "text-primary" %><br />
                            <%= f.text_field :f_name, class: "form-control" %>
                              </div>

                                <div class="form-group">
                                      <%= f.label :Last_name, class: "text-primary" %><br />
                                          <%= f.text_field :l_name, class: "form-control" %>
                                            </div>


                                              <div class="form-group">
                                                    <%= f.label :password, class: "text-primary"  %>
                                                        <% if @minimum_password_length %>
                                                                <em><span class="text-primary">(<%= @minimum_password_length %> characters minimum)</span></em>
                                                                    <% end %><br />
                                                                        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                                                                          </div>

                                                                            <div class="form-group">
                                                                                  <%= f.label :password_confirmation, class: "text-primary" %><br />
                                                                                      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                                                                                        </div>

                                                                                          <div class="actions">
                                                                                                <%= f.submit "Sign up", class: "btn btn-primary" %>
                                                                                                  </div>
                                                                                                <% end %>

                                                                                                <%= render "devise/shared/links" %>

