<h1 class="site-heading-upper text-primary">Competitions</h1>

<div class="input-group">
  <div class="form-inline">
    <%= form_tag(competitions_path, method: :get ) do %>
      <%= text_field_tag :term, params[:term],class: "form-control", placeholder:"Find a new competition?" %>
      <span class="input-group-btn">
        <%= content_tag(:button, "Search", :type=>:submit, name: nil, class: 'btn btn-default')%>
        <span class="site-heading-upper text-primary"> Hint: Leave blank to get complete list.</span>
      </span>
    <% end %>
  </div>
</div>

<span class="counter pull-right"></span>
<div class="table-responsive-md">
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Owner</th>
      <th scope="col">Public</th>
      <th scope="col">Start</th>
      <th scope="col">Stop</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @competitions.each do |competition| %>
      <tr scope="row">
        <td><%= link_to competition.name, competition %></td>
        <td><%= "#{competition.owner.f_name} #{competition.owner.l_name}" %></td>
        <td><%= competition.public ? "Yes" : "No" %></td>
        <td><%= competition.start.to_date %></td>
        <td><%= competition.stop.to_date %></td>
        <% if current_user.admin || current_user == competition.owner %>
          <td><%= link_to 'Edit', edit_competition_path(competition) %></td>
        <% else %>
          <td> &nbsp; </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= will_paginate @competitions %>

<%= link_to 'New Competition', new_competition_path %>
