<h1 class="site-heading-upper text-primary">Competitions</h1>

<div class="table-responsive-md">
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Owner</th>
      <th scope="col">Name</th>
      <th scope="col">Public</th>
      <th scope="col">Start</th>
      <th scope="col">Stop</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @competitions.each do |competition| %>
      <tr scope="row">
        <td><%= "#{competition.owner.f_name} #{competition.owner.l_name}" %></td>
        <td><%= competition.name %></td>
        <td><%= competition.public ? "Yes" : "No" %></td>
        <td><%= competition.start.to_date %></td>
        <td><%= competition.stop.to_date %></td>
        <td><%= link_to 'Show', competition %></td>
        <% if current_user.admin || current_user == competition.owner %>
          <td><%= link_to 'Edit', edit_competition_path(competition) %></td>
        <% else %>
          <td> &nbsp; </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Competition', new_competition_path %>
