<p>
  <strong>Owner:</strong>
  <%= @competition.owner.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @competition.name %>
</p>

<p>
  <strong>Public:</strong>
  <%= @competition.public %>
</p>

<p>
  <strong>Start:</strong>
  <%= @competition.start %>
</p>

<p>
  <strong>Stop:</strong>
  <%= @competition.stop %>
</p>

<%= link_to 'Edit', edit_competition_path(@competition) %> |
<%= link_to 'Back', competitions_path %>
