<% challenge ||= Challenge.new %>

<%= form_with(model: challenge, local: true) do |form| %>
  <% if challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :competition_id, :value => @competition.id %>

  <div class="field">
    <label for "event_performed" class="site-heading-upper text-primary">Name</label>
    <br />
    <%= form.text_field :name, required: true, class: "form-control" %>
  </div>
  <br />
  <div class="field">
    <label for "event_performed" class="site-heading-upper text-primary">Description</label>
    <br />
    <%= form.text_area :description, required: true, class: "form-control" %>
  </div>
  <br />
  <div class="field">
    <label for "event_performed" class="site-heading-upper text-primary">Points awarded for each unit of measure (decimal places ok)</label>
    <br />
    <%= form.text_field :value, required: true, class: "form-control" %>
  </div>
  <br />
  <div class="field">
    <label for "event_performed" class="site-heading-upper text-primary">Unit of measure</label>
    <br />
    <%= form.text_field :per, required: true, class: "form-control" %>
  </div>
  <br />
  <div class="actions">
    <%= form.submit "Add Challenge" %>
  </div>
<% end %>
